<div className='container'>
      <header className="header">
        <h1><a href='/'>Benjamin Jack Pitts</a></h1>
        <h2>Musician</h2>
      </header>
      <Test />
<div className='profile'><img src='https://i.imgur.com/A7lHurv.jpg' alt='benjaminpitts' /></div>



<footer>

<h2>Built by: <a href='https://benjaminjackpitts.dev/'>Benjamin Jack Pitts</a>2021</h2></footer>
</div>
