/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   background: gray;
 }
 img {
   width: 98%;
   margin: .5rem;
   text-align: center;
   border: 5px solid black;
 }
 header, footer {
   background: #090909;
   width: 100%;
   color: ivory;
   text-align: center;
   padding: .2rem;
 }
 h2 {
   position: relative;
   bottom: 20px;
 }
 a {
   text-decoration: none;
   margin: .2rem;
   color: gold;
 }
 a:hover {
   color: ivory;
 }
